/* Authored by Garance Rohart  */

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Luxurious+Roman&family=Modern+Antiqua&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Viaoda+Libre&family=Yeon+Sung&display=swap');

:root {
    /* Default theme variable overrides */
    --color-background: #f9f2e2;
    --color-primary: #363607;
    --font-heading: 'Cormorant Infant';
    
    /* Custom variables */
    --f-decorative: 'Cinzel Decorative';
    --c-deep-green: #a2a454;
    --c-light-green: #dad6b0;
}

.site-navbar {
    background-color: var(--c-deep-green);
}

.site-navbar * {
    color: var(--color-primary-subtle);
}

.site-navbar-link, .mobile-nav-link, .mobile-nav-social-link {
    font-family: var(--font-heading);
}

.site-navbar-site-name, .page-hero-title, .list-component-item-eyebrow {
    font-family: var(--f-decorative);
    font-weight: 400;
}

.page-hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--c-deep-green);
    /* Adjust the url to match your hero image file path */
    background-image: url("https://r2-assets.flowershow.app/botany-theme-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--font-heading);
}

@media (min-width: 768px) {
    .list-component {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
    }
}

.list-component-pagination {
    grid-column: 1 / -1;
}

.list-component-item {
    border: 1px solid var(--c-deep-green);
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    gap: 0.5rem;
}

.list-component-item:hover {
  background-color: var(--c-light-green);
}

.list-component-item-headline {
    font-size: 1.5rem;
    line-height: 1;
}

.list-component-item-summary {
    font-family: var(--font-heading);
    line-height: 1.2;
}

.list-component-item-media {
    width: 100%;
}

@media (min-width: 768px) {
    .list-component-item-media {
        aspect-ratio: 3 / 2;
    }
}

.list-component-item-media {
    border-radius: 16px 16px 0 0;
}

.list-component-item-content {
    padding: 1rem;
}

.list-component-item-eyebrow, .page-header-date {
    font-family: var(--f-decorative)
}
